@import "tailwindcss";
#loader{
    padding: 4px;
    /* display: flex;
    justify-content: space-around;
    max-width: 200px;
    align-items: center; */
}
#volleyball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: ballRotate 2s linear infinite;
}

@keyframes ballRotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}