@import "tailwindcss";
@import "nprogress/nprogress.css";

#nprogress .bar {
  background: #5500ff !important;   /* Your color */
  width: 10px;
}

#nprogress .peg {
  box-shadow: 0 0 10px blue, 0 0 5px blue !important;
  width: 15px;
}

#loader{
    padding: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
#volleyball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: ballRotate 2s linear infinite;
}

@keyframes ballRotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.facilityContainer{
    scrollbar-width: none;
}
.btn-hidden {
    display: none;
}

.btn-visible {
    display: flow-root;
    z-index: 50;
}

.action-btn {
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.action-btn:nth-child(2) {
    transition-delay: 0.05s;
}

.action-btn:nth-child(3) {
    transition-delay: 0.1s;
}



.main-btn {
    transition: all 0.3s ease;
}

.main-btn.active {
    transform: rotate(45deg);
}

.range-line {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 2px; /* ultra thin line */
  background: transparent;
  cursor: pointer;
}

/* Track: background with gradient (filled + unfilled) */
.range-line::-webkit-slider-runnable-track {
  height: 2px;
  background: linear-gradient(
    to right,
    #5500ff var(--value-percent),
    #919191 var(--value-percent)
  );
  border-radius: 10px;
}

/* Thumb */
.range-line::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #5500ff;
  border-radius: 50%;
  margin-top: -7px; /* thumb align to track */
  transition: 0.2s;
}

.range-line::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/* Firefox */
.range-line::-moz-range-track {
  height: 2px;
  background: #ddd;
}

.range-line::-moz-range-progress {
  height: 2px;
  background: #5500ff;
}

.range-line::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: #5500ff;
  border-radius: 50%;
  border: none;
}
/* Remove default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* calendar popup styles (webkit browsers) */
::-webkit-datetime-edit,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  color: #4b5563;
  padding: 0 2px;
  border-radius: 8px;
}

/* Selected date circle */
::-webkit-datetime-edit-fields-wrapper {
  border-radius: 9999px !important;
}

/* Calendar popup day hover */
::-webkit-calendar-picker-indicator:hover {
  background: #eee5ff !important;
}

/* Remove ugly spinner */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
